.cart{
    margin-top: 5vw;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.2fr 1fr 0.5fr;
    align-items: center;
    justify-content: center;
    font-size: max(0.8vw,12px);
}

.cart-items-title p{
 justify-content: center;
 display: flex;
}
.cart-items-quantity-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart-items-title{
    font-weight: 550;
    color: rgb(97, 97, 97);
  
}
.cart-items-item {
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 1vw;
}

.cart-items-item{
    margin-block: 0.5vw;
}
.cart-items-image{
    width: max(5vw,50px);
    height: max(5vw,50px);
    object-fit: cover;  
    margin: auto;
}
.cart-items-remove{
    cursor: pointer;
    font-size: max(1vw,12px);
    margin-left:  max(1vw,15px);
    margin: auto;
}
.cart-items-remove:hover{
    color: rgb(255, 74, 74);
}

/* PARTE DE BAIXO DO CARRINHO*/

.cart-total{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}

.cart-total-left h1{
    margin-bottom: 1vw;
    font-size: max(1.5vw,16px);
}
.cart-total-left{
    width: 40%;
}
.cart-total-details{
    color: rgb(97, 97, 97);
    border-bottom: 1px solid rgb(189, 189, 189);
    display: flex;
    width: 100%;
    padding-block:max(0.4vw,2px) ;
    font-weight: 450;
    font-size: max(0.8vw,12px);
    justify-content: space-between;
}
.cart-total-details-total{
    color: #282d26;
    display: flex;
    padding-block:max(0.4vw,2px) ;
    font-size: max(0.8vw,12px);
    font-weight: 650;
    width: 100%;
    justify-content: space-between;
}
.cart-total-details-button{
    width: 50%;
    margin-top: 1.5vw;
    cursor: pointer;
    padding: max(0.6vw,8px);
    background-color: #e22e37;
    color: #eeeaeb;
    font-weight: 580;
    border: none;
    border-radius: 5px;
    font-size: max(0.8vw,8px);
}
.cart-total-details-button div{
 margin: auto;
}

/* PARTE DE PROMOCAO CARRINHO*/

.cart-total-promotion{
    width: 40%;
}
.cart-total-right-title{
    font-size: max(0.8vw,10px);
    margin-bottom:0.5vw;
}
.cart-total-right-inputs{
    height: max(2vw,25px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-total-right-input{
    width: 80%;
    height: 100%;
    border: none;
    padding: max(0.8vw,8px);
    font-size: max(0.7vw,10px);
    border: 1px solid #d3d3d3;
    outline: black;
}
.cart-total-right-button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20%;
    height: 98%;
    cursor: pointer;
    padding:max(0.8vw,8px);
    font-size: max(0.7vw,8px);
    background-color: #282d26;
    color: #eeeaeb;
    font-weight: 580;
    border: none;
}
@media (max-width:750px) {
    .cart-total{
        margin-top: 60vw;
        flex-direction: column;
    }
    .cart-total-promotion{
        margin-top: 20px;
        width: 80%;
    }
}