.app-download {
    position: relative;
    width: 100%;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.app-download p {
    font-size: max(2.2vw, 25px);
    font-weight: 550;
}

.app-download-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-download-content-img {
    width: 12vw;
    margin: 3vw 1vw 0vw 1vw;
    transition: 0.8s;
    cursor: pointer;
}
.app-download-content-img:hover{
    transform: scale(1.1);
}