.explore-menu{
    color: #282d26;;
}


.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}


.explore-menu-h1,.explore-menu-p{
    margin-bottom:18px ;
    max-width: 60%;
    font-size: max(2vw,24px);
    font-weight: 700;
}
.explore-menu-p{
    max-width: 60%;
    font-size:max(1vw,12px); 
    font-weight: 480;
    color: #60615f;
}

.explore-menu-list-item{
    margin:2vw 0 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.explore-menu-list-item .active{
    border: 4px solid #e22e37;
    padding: 2px;
}
.explore-menu-list-item p{
    margin-top: 5%;
    font-size: max(1.0vw,15px);
    font-weight: 500;
    color: #60615f;
}
.explore-menu-list-item img{
    outline: none;
    cursor:pointer;
    width:8vw;
    height:8vw;
    max-width: 150px;
    min-width: 60px;
    min-height: 60px;
    transition: 0.2s;
    object-fit: cover;
    border-radius: 50%;
}
.explore-menu hr{
    height: 1px;
    border: none;
    background-color: #b8b8b8;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
@media (max-width:750px) {
    .explore-menu-list-item img{
        width:12vw;
        height:12vw;
    }
    .explore-menu-p {
        max-width: 80%;
    }
    .explore-menu-list {
        gap: 20px;
    }
}