.navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.Logo{
    width: 120px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-menu li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 580;
    cursor: pointer;
}
/* right navbar */

.navbar-right{
    align-items: center;
    display: flex;
    height: 50px;
    gap: 40px;
}
.navbar-right-search{
    position: relative;
}
.navbar-right-search .dot{
    position: absolute;
    width: 8px;
    height: 8px;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: #e22e37;
}
.navbar-right svg{
    cursor: pointer;
  /* TAMANHO DIRETO NO CODIGO*/ 
}

.navbar-right-profile-icon{
    position: relative;
}
/* PROFILE UL 1 */
.navbar-right-info-profile-user{
    font-size:max(0.6vw,14px);
    border-bottom:1px solid #e4e3e3;
    width: 60%;
    margin: 0 auto;
    padding-block: 14px;
}
.navbar-right-info-profile{
    z-index: 1;
    position: absolute;
    background-color: white;
    left: -108px;
    width: 240px;
    margin-top: 10px;
    border-radius: 10px;
    padding-block: 10px;
}
.navbar-right-info-profile::before {
    content: '';
    position: absolute;
    top: -10px; /* Posiciona o triângulo acima da div */
    left: 50%; /* Centraliza o triângulo */
    transform: translateX(-50%); /* Ajusta para centralizar perfeitamente */
    border-left: 10px solid transparent; /* Lados do triângulo invisíveis */
    border-right: 10px solid transparent; 
    border-bottom: 10px solid white; /* Cor da ponta, igual ao fundo da div */
  }
.navbar-right-info-profile li{
    list-style: none;

}
.navbar-right-info-profile a:hover{
   background-color: #282d26;
   color: white;
}
.navbar-right-info-profile a{
    font-size:max(0.6vw,14px);
    display: flex;
    padding-left: 5px;
    border-radius: 5px;
    padding-block: 15px;
    margin-bottom: 4px;
}
.navbar-right-ul-profile{
    border-bottom:1px solid #e4e3e3;
    width: 80%;
    margin: 0 auto;
}
/* PROFILE UL 2 */

.button-logout {
    margin-top: 20px;
    background-color: #e22e37; 
    color: white; 
    padding: 8px 22px; 
    border: none; 
    border-radius: 5px;
    font-size:max(0.6vw,14px);
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s; 
}

.button-logout:hover {
    background-color: #ca2c2c; 
    transform: scale(1.05);
}

.button-logout:active {
    transform: scale(0.95); 
}











.navbar .active{
    padding-bottom: 2px ;
    border-bottom: 2px solid #282d26;
}
button.button-navbar{
    cursor: pointer;
    background-color: #282d26;
    color:#eeeaeb ;
    width:max(6vw,70px);
    height:max(2vw,25px);
    font-size: max(0.6vw,10px);
    font-weight: 500;
    border: none;
    border-radius: 3px;
}
@media (max-width:1050px) {
    .navbar{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    .navbar-menu{
        gap:18px;
    }
    .navbar-menu li{
        font-size:max(1.6vw,10px);
    }
    .Logo{
        max-width: 100px;
    }
    /* .navbar-right svg{
      width: 20px;
      
    } */
  
}
@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
    .navbar-right{
        gap: 3vw;
    }
}