.footer{
    background-color: #282d26;
    padding: 2vw 7vw;
    margin-top: 8vw;
    color: #eeeaeb;
    max-width:100%;
}
.footer-content{
    width: 100%;
    align-items:flex-start;
    display: flex;
    justify-content: space-between;
}
.footer-copyright{
    padding-top: 2.5vw;
    font-size: max(0.8vw,12px);
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-content-left{
    width: 40%;
    font-size:max(0.8vw,12px);
    font-weight: 500;
}
.footer-content-left img{
    width: max(2vw,125px);
    margin-top: -20px;
}
.footer-content-left-social{
    display: flex;
    padding-top: 2vw;
    gap: 0.6vw;
}  

.footer-content-left-social a{
    height: 20px;
} 
.footer-content-left-social span{
    cursor: pointer;
    border:1px solid #eeeaeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:max(0.2vw,16px);
    border-radius: 50%;
}
.footer-content-left-social svg{
    font-size:max(1vw,20px);
    
}



/*CENTER*/

.footer-content-center{
    width: 20%;
    font-size:max(0.8vw,12px);

}
.footer-content-center ul{
    list-style: none;
    margin-top:1vw;   
}
.footer-content-center li {
    padding-block: 0.4vw;
    cursor: pointer;
}

/* RIGHT*/
.footer-content-right{
    width: 20%;
    font-size:max(0.8vw,12px);
}

.footer-content-right h2{
    margin-bottom: 0.8vw;
}
.footer hr{
    margin-top: 4vw;
    height: 2px;
    border: none;
    background-color: #60615f;

}





@media (max-width:750px) {
    .footer{
        width:100%;
        padding: 0;

    }
    .footer-content{
        max-width: 100%;
        gap: 1vw;
        padding: 8vw;
        justify-content: center;
      
    }
    .footer-content-left img{
        width: max(1vw,80px);
        margin-top: -20px;
    }
    .footer-content-left{
        width: 50%;
    }
    .footer-content-center{
        width: 50%;
    }
   .footer-content-right{
    width: 50%;
   }
    
    .footer-copyright{
       padding-bottom: 3vw;
    }
    .footer hr{
        margin: 1vw 0 3vw;
        margin-inline: 10vw;
    }
    
.footer-content-left-social span{

    padding:max(0.5vw,10px);
}
}